@use "./variables" as vars;

.container {
  font-family: vars.$general-font-family, Arial, Helvetica, sans-serif;
  font-size: vars.$general-font-size;
  width: vars.$mobile-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  border: 1px solid;
}
