$mobile-width: 32rem;
$desktop-width: 144rem;
$very-dark-gray: #2b2b2b;
$dark-gray: #969696;
$general-font-size: 1.8rem;
$general-font-family: "Rubik";

$general-border-radius: 1rem;
$input-height: 5.8rem;
